<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon_aide.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aide | 온:마음</title>
    <!-- <script src="/preload.js"></script> -->

    <script type="module" crossorigin="" src="{{ url_for('static', path='/js/index-M9VhhsIq.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/index-Bw3Qi5Xx.css') }}">
</head>

<body>
<div id="root">
    <div class="c_page__container">
        <div class="c_pageTop__container" style="position: relative;"><img alt="" src="{{ url_for('static', path='/images/temp_pageTop-DMHNhtjt.png') }}"><a class="temp_loginLink" href="/login" data-discover="true"></a></div>
{% block content %}

{% endblock %}
    </div>
</div>
<div id="modal-root"></div>


</body>

</html>